$color-primary: #e68bf2;
$color-secondary: #f6b5fe;
$color-success: lightgreen;
$color-warning: lightyellow;
$color-danger: lightcoral;
$color-text: #333;


$font-size-large: 40px;
$font-size-medium: 16px;
$font-size-small: 14px;

$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 15px;

$font-family: 'Arial', sans-serif;

$border-radius: 5px;
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);